<?xml version='1.0' encoding='utf-8'?>
<plugin id="outsystems-plugin-yubico" version="1.0.0"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>outsystems-plugin-yubico</name>
	<js-module name="outsystems-plugin-yubico" src="www/outsystems-plugin-yubico.js">
		<clobbers target="cordova.plugins.yubico" />
	</js-module>

	<platform name="android">
		<framework src="src/android/build.gradle" custom="true" type="gradleReference" />
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="yubico">
				<param name="android-package" value="com.outsystems.yubico" />
			</feature>
		</config-file>

		<config-file target="res/xml/config.xml" parent="/*">
			<preference name="GradlePluginKotlinVersion" value="1.6.0" />
			<preference name="GradlePluginKotlinEnabled" value="true" />
            <preference name="GradlePluginKotlinCodeStyle" value="official" />
            <preference name="AndroidXEnabled" value="true"/>
        </config-file>

	<config-file target="AndroidManifest.xml" parent="/*">
            <uses-feature android:name="android.hardware.nfc" android:required="false" />
    	    <uses-permission android:name="android.permission.NFC" />
    	    <uses-permission android:name="android.permission.NFC_TRANSACTION_EVENT" />
        </config-file>

		<config-file parent="/*" target="AndroidManifest.xml"></config-file>

		<source-file src="src/android/yubico.kt" target-dir="app/src/main/kotlin/com/outsystems/" />
	</platform>
</plugin>
